<div>{{ title() }}</div>

<div>{{ x }}</div>

@if (x === 10) {
<div>x is 10!</div>
} @else if (x === 20) {
<div>x is 20!</div>
} @else {
<div>x is not 10 nor 20!</div>
} @switch (x) { @case (10) {
<div>x is 10!</div>
} @case (20) {
<div>x is 20!</div>
} @default {
<div>x is not 10 nor 20!</div>
} }

<div class="students">
  @for (student of students; track student.id) { @let fn = `${student.fn} ${student.ln}`;

  <div class="student">
    <div>{{ fn }}</div>

    <div>Total: {{ $index }} / {{ $count }}</div>

    <div>First: {{ $first }}</div>
    <div>Last: {{ $last }}</div>
    <div>Even: {{ $even }}</div>
    <div>Odd: {{ $odd }}</div>
  </div>
  }
</div>
