<div>{{ title() }}</div>

<div>{{ x }}</div>

@if (x === 10) {
<div>x is 10!</div>
} @else if (x === 20) {
<div>x is 20!</div>
} @else {
<div>x is not 10 nor 20!</div>
} @switch (x) { @case (10) {
<div>x is 10!</div>
} @case (20) {
<div>x is 20!</div>
} @default {
<div>x is not 10 nor 20!</div>
} }

<div class="students">
  @for (student of students(); track student.id) { @let fn = `${student.fn} ${student.ln}`;

  <div class="student">
    <div>{{ fn }}</div>

    <div>Total: {{ $index }} / {{ $count }}</div>

    <div>First: {{ $first }}</div>
    <div>Last: {{ $last }}</div>
    <div>Even: {{ $even }}</div>
    <div>Odd: {{ $odd }}</div>
  </div>
  }
</div>

<div>
  <button (click)="addStudent()">Add student</button>

  <button (click)="updateStudentInfo(2)">Update student #2</button>

  <button (click)="orderStudentsRandomly()">Order students randomly</button>
</div>

<section>
  <h1>Signals</h1>
  <app-counter />
  <div>
    <input type="text" [(ngModel)]="text" />
    Text: {{ text() }}
  </div>

  <div>
    <input type="text" [value]="text2()" (input)="setText2($event)" />
    Text2: {{ text2() }}
  </div>
</section>
