<div>{{ title() }}</div>

<div>{{ x }}</div>

@if (x === 10) {
<div>x is 10!</div>
} @else if (x === 20) {
<div>x is 20!</div>
} @else {
<div>x is not 10 nor 20!</div>
} @switch (x) { @case (10) {
<div>x is 10!</div>
} @case (20) {
<div>x is 20!</div>
} @default {
<div>x is not 10 nor 20!</div>
} }

<div class="students">
  @for (student of students(); track student.id) { @let fn = `${student.fn} ${student.ln}`;

  <div class="student">
    <div>{{ fn }}</div>

    <div>Total: {{ $index }} / {{ $count }}</div>

    <div>First: {{ $first }}</div>
    <div>Last: {{ $last }}</div>
    <div>Even: {{ $even }}</div>
    <div>Odd: {{ $odd }}</div>
  </div>
  }
</div>

<div>
  <button (click)="addStudent()">Add student</button>

  <button (click)="updateStudentInfo(2)">Update student #2</button>

  <button (click)="orderStudentsRandomly()">Order students randomly</button>
</div>

<section>
  <h1>Signals</h1>
  <div>Counter: {{ counter() }}</div>
  <div>
    <button (click)="increaseCounter()">Increase counter</button>
    <button (click)="decreaseCounter()">Decrease counter</button>
    <button (click)="setCounter(10)">Set counter to 10</button>
  </div>

  <div>
    @if (counter() > 10) {
    <div>Counter is bigger than 10!</div>
    }
  </div>
</section>
